<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <settings>
        <setting name="cacheEnabled" value="false"/>
        <!--설정에서 각 매퍼에 설정된 캐시를 전역적으로 사용할지 말지에 대한 여부-->
        <setting name="callSettersOnNulls" value="true"/>
        <!--가져온 값이 null일때 setter나 맵의 put 메소드를 호출할지를 명시-->
        <setting name="jdbcTypeForNull" value="NULL"/>
        <!--JDBC타입을 파라미터에 제공하지 않을때 null값을 처리한 JDBC타입을 명시-->
        <setting name="mapUnderscoreToCamelCase" value="true"/>
        <!--전통적인 데이터베이스 칼럼명 형태인 A_COLUMN을 CamelCase형태의 자바 프로퍼티명 형태인 aColumn으로 자동으로 매핑-->
    </settings>

    <typeHandlers>
        <typeHandler handler="com.pilsa.place.framework.persistent.handelr.EnumCodeTypeHandler"/>
        <!--마이바티스에서 EnumCode 사용하기 위해 정의함. -->
    </typeHandlers>

</configuration>