<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.pilsa.place.biz.service.mapper.PlaceSearchMapper">


    <insert id="insertSearchHistory">
        INSERT INTO PLACE_SEARCH_TH /** insertSearchHistory | 장소검색 이력 단건 등록 */
        (
          TRANS_AT      /* 거래일시 */
        , QUERY         /* 질의어 */
        , FRST_RGS_AT   /* 최초등록일시 */
        )
        VALUES
        (
          UNIX_TIMESTAMP(NOW())
        , #{query}
        , NOW()
        )
    </insert>

    <select id="selectPopularKeywords" resultType="PlaceTransactionDTO">
        SELECT /** selectPopularKeywords |  인기 키워드 목록 조회 */
              QUERY                         /* 질의어 */
            , COUNT(QUERY) AS QUERY_CNT     /* 조회횟수 */
        FROM PLACE_SEARCH_TH
        WHERE 1=1
        <![CDATA[
            AND TRANS_AT <= UNIX_TIMESTAMP(NOW())
            AND TRANS_AT >= UNIX_TIMESTAMP(DATEADD(HOUR,-24,NOW()))
        ]]>
        GROUP BY QUERY
        ORDER BY QUERY_CNT DESC, query ASC
        LIMIT 10
    </select>
</mapper>